html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .bs-example{
    margin: 30px;
    
}

  .navbar-custom { 
    background-color: rgb(238, 28, 39); 
} 

  .abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}