html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .navbar-nav{
   font-size: 2rem;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-style: italic;
  }

   .nav-item,.nav-link > a{
    margin-right: 25px !important;
    margin-left: 25px !important;
    color: #eec10c !important;
   }

  
  .bs-example{
    margin: 20px;
    }

/* .navbar-custom { 
    background-color: rgb(238, 28, 39); 
} */

  .hauptseite{
    background-color: rgba(177, 175, 175, 0.336);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
  }

  .abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}