<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <title>Irgendwas mit Bands</title>
</head>

<body>
    <header>
    
    </header>
    <ul>
    <li th:text="|Id: ${school.id}|">$id</li>
    <li th:text="|Name: ${school.name}|">$name</li>
    <li th:text="|Capacity: ${school.capacity}|">$capacity</li>
    <li th:text="|Country: ${school.country}|">$country</li>
</ul>
</body>
<footer>

</footer>
</html>