<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Navbar-Fragment</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>

<body>

    <div th:fragment="about">
     <div id="AboutUs">
        <div class="row d-flex justify-content-center">
        <div class="col-md-12">
        <div class="mb 0.1">&nbsp;</div>
            <div class="card">
                <h4 class="card-header bg-dark info-color white-text text-center py-4"><strong> The Developers</strong></h4>
                <br>
                <section class="latest-posts">
                <div class="container">
                    <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-2">
                    <div class="card h-100">
                    <img class="galleryImgMain" src="pictures/Team/axel.jpeg" style="height:20em;width:100%; border-radius:5px" alt="Picture Of Axel">
                    <div class="card-body">
                        <h5 class="card-title">Axel Schwarz</h5>
                        <p class="card-text"> JDBC, THYMLEAF and SPRING master. Cant write nothing else, its already complicated. </p>
                    </div>
                   </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-2">
                    <div class="card h-100">
                    <img class="galleryImgMain" src="pictures/Team/Berthold.jpeg" style="height:20em;width:100%; border-radius:5px" alt="Picture Of Berthold">
                    <div class="card-body">
                         <h5 class="card-title">Berthold Voitl</h5>
                         <p class="card-text">Ahhh, the quite one. But dont forget, quite waters are deep. He will schock you with knowledge in all topics. Even the ones you didnt hear about..</p>
                   </div>
                  </div>
                 </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-2">
                    <div class="card h-100">
                    <img class="galleryImgMain" src="pictures/Team/Malte.jpeg" style="height:20em;width:100%; border-radius:5px" alt="Picture Of Malte">
                    <div class="card-body">
                            <h5 class="card-title">Malte Knezevic</h5>
                             <p class="card-text"> Is also known as a GIT master. Did you push, pull or commit the wrong way, no worries, Malte is there. But dont PUSH him to much, he might COMMIT...</p>
                    </div>
                   </div>
                 </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-2">
                    <div class="card h-100">
                    <img class="galleryImgMain" src="pictures/Team/Denis.jpeg" style="height:20em;width:100%; border-radius:5px" alt="Picture Of Denis">
                    <div class="card-body">
                            <h5 class="card-title">Denis Kutlovci</h5>
                            <p class="card-text">He is known for his creativity. If someone needs a WireFrame, he is the guy to ask! But ofc, he wont do it for free, dont forget he is albanian...</p>
                    </div>
                   </div>
                  </div>
                </div>
               </div>
             </section>
            </div>
        </div>
       </div>
       </div>
</div>
</body>

</html>