<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Navbar-Fragment</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>

<body>

    <div th:fragment="about">
     <div id="AboutUs">
        <div class="row d-flex justify-content-center">
        <div class="col-md-12">
        <div class="mb 0.1"></div>
            <div class="card">
                <h4 class="card-header bg-dark info-color white-text text-center py-4"><strong> The Developers</strong></h4>
                <br>
                <section class="latest-posts">
                <div class="container">
                    <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-2">
                    <div class="card h-100">
                    <img class="galleryImgMain" src="pictures/Team/axel.png" style="height:20em;width:99.99%; border-radius:5px" alt="Picture Of Axel">
                    <div class="card-body">
                        <h5 class="card-title">Axel Schwarz</h5>
                        <p class="card-text">Pellentesend leoque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
                    </div>
                   </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-2">
                    <div class="card h-100">
                    <img class="galleryImgMain" src="pictures/Team/Berthold.jpeg" style="height:20em;width:100%; border-radius:5px" alt="Picture Of Berthold">
                    <div class="card-body">
                         <h5 class="card-title">Berthold Voitl</h5>
                         <p class="card-text">Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleif. Pellentesend leoque habitant morbi tristique senectus et netus et malesuada fames. </p>
                   </div>
                  </div>
                 </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-2">
                    <div class="card h-100">
                    <img class="galleryImgMain" src="pictures/Team/Malte.jpg" style="height:20em;width:100%; border-radius:5px" alt="Picture Of Malte">
                    <div class="card-body">
                            <h5 class="card-title">Malte Knezevic</h5>
                             <p class="card-text"> Et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Pellentesend leoque habitant morbi tristique senectus et netus et malesuada fames.</p>
                    </div>
                   </div>
                 </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-2">
                    <div class="card h-100">
                    <img class="galleryImgMain" src="pictures/Team/Denis.jpeg" style="height:20em;width:100%; border-radius:5px" alt="Picture Of Denis">
                    <div class="card-body">
                            <h5 class="card-title">Denis Kutlovci</h5>
                            <p class="card-text">Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Pellentesend leoque habitant morbi tristique senectus et netus. Donec eu libero sit amet quam egestas semper.</p>
                    </div>
                   </div>
                  </div>
                </div>
               </div>
             </section>
            </div>
        </div>
       </div>
       </div>
</div>
</body>

</html>