<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Footer-Fragment</title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
    <div th:fragment="bottom">
    <footer class="page-footer font-small sticky-bottom bottom-dark bg-dark">
            <div class="container text-center text-md-left">
               <div class="row">
                  <div class="col-sm-6 mx-auto">
                  </div>
               </div>
               <!-- Social buttons -->
               <br>
               <div class="list-unstyled list-inline text-center">
                  <a class="s-p" href="https://www.pinterest.de/" target="_blank"><span class="s-p"><i class="fab fa-pinterest fa-sm"></i></span></a>
                  <a class="s-f" href="https://www.facebook.com/" target="_blank"><span class="s-f"><i class="fab fa-facebook fa-sm"></i></span></a>
                  <a class="s-t" href="https://twitter.com/?lang=de" target="_blank"><span class="s-t"><i class="fab fa-twitter fa-sm"></i></span></a>
                  <a class="s-s" href="https://www.snapchat.com/l/de-de/" target="_blank"><span class="s-s"><i class="fab fa-snapchat-ghost fa-sm"></i></span></a>
                  <a class="s-l" href="https://de.linkedin.com/" target="_blank"><span class="s-l"><i class="fab fa-linkedin-in fa-sm"></i></span></a>
                  <a class="s-g" href="https://plus.google.com" target="_blank"><span class="s-g"><i class="fab fa-google-plus fa-sm"></i></span></a>
               </div>
               <br>
            </div>
    </footer>
</div>
</body>
</html>
