<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Header-CSS</title>
  <!-- <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>-->
</head>
<body>
    <div th:fragment="top" th:remove="tag">
        <a name="top"></a>
        <script src="https://kit.fontawesome.com/fbb4acb8af.js" crossorigin="anonymous"></script>
        <!--BIBLIOTHEK FÜR SOCIAL MEDIA ICONS -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Die 3 Meta-Tags oben *müssen* zuerst im head stehen; jeglicher sonstiger head-Inhalt muss *nach* diesen Tags kommen -->
        <title>My Band</title>
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    
        <!-- Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    </div>    
</body>
</html>




