<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Navbar-Fragment</title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
     <!--Bild unter Navigation-->
     <div th:fragment="mitte-mail"> 
     <div id="mainPicture">
      <img class="headPicture" src="pictures/Team/hiclipart.com(1).png" style="height:20em;width:99.99%; border-radius:5px" alt="Picture Of Music Notes">
   </div>
   <div id="TopTop">
   <div class="mb-4"></div>
   <div class="row d-flex justify-content-center">
   <div class="col-md-12 mb-4">
   <div class="card">
      <h4 class="card-header bg-dark info-color white-text text-center py-4"><strong>Feedback</strong></h4>
      <br>
      <div class="card-body text-center">
         <p class="card-text">We have received your message and would like to thank you for contacting to us.</p>
         <p class="card-text">One of our colleagues will get back in touch with you as soon as possible!</p>
         <p class="card-text">In the meantime, you can check out our social media accounts in the footer section.</p>
         <p class="card-text">Your friends at</p>
         <p class="card-text"><b>Where Is My Band</b></p>
      </div>
   </div>
  </div>
</body>
</html>