<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Navbar-Fragment</title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<div th:fragment="output">
      <div id="mainPicture">
         <img class="galleryImgMain" src="pictures/Team/hiclipart.com(1).png" style="height:20em;width:99.99%; border-radius:5px" alt="A picture of music notes">
      </div>
      <div id="about-us">

      <div class="row d-flex justify-content-center">
      <div class="col-md-12 mb-4">
      <div class="card">
  <h4 class="card-header bg-dark info-color white-text text-center py-4"><strong>Messages from users</strong></h4>
	
	<button type="button" onclick="window.location.href = '/';" class="btn btn-primary mt-3 mb-3">Back to home</button>
	
         <div class="band-finder-table">
            <table class="table">
               <thead class="thead-dark">
                  <tr>
                     <th scope="col">Name</th>
                     <th scope="col">Adresse</th>
		     <th scope="col">Phone</th>
		     <th scope="col">Message</th>
                  </tr>
               </thead>
               <tbody>
		     <tr th:each="mail : ${mailoutput}">
		     <td data-label="Name" th:text="${mail.name}">Name</td>
		     <td data-label="Adresse" th:text="${mail.adress}">Adresse</td>
		     <td data-label="Phone" th:text="${mail.phone}">Phone</td>
		     <td data-label="Message" th:text="${mail.message}">Message</td>
	              </tr>
               </tbody>
            </table>
         </div>
      </div>
</body>
</html>
