<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Navbar-Fragment</title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<div th:fragment="suche"> 
<div id="mainPicture">
   <img class="galleryImgMain" src="pictures/Team/hiclipart.com(1).png" style="height:20em;width:100%; border-radius:5px" alt="A picture of music notes">
</div>
<div id="about-us">
   <div class="mb-4">&nbsp;</div>
   <div class="row d-flex justify-content-center">
      <div class="col-md-12 mb-4">
         <div class="card">
            <h4 class="card-header bg-dark info-color white-text text-center py-4"><strong>Good Luck !</strong></h4>
            <br><br>
            <form method="post" th:action="@{/bands}" th:object="${bands}">
               <label for="role">Select a role:</label>
               <select id="role" name="role">
                  <option value=" ">----Select----</option>
                  <option th:each="role : ${allRoles}" th:text="${role.roleName}"
    th:value="${role.id}">
                  </option>
               </select>
               <br><br>
               <label for="style">Select a style:</label>
               <select id="style" name="style">
                  <option value=" ">----Select----</option>
                  <option th:each="style : ${allStyles}" th:text="${style.styleName}"
     th:value="${style.id}">
                  </option>
               </select>
               <br><br>
               <label for="skill">Select a skill:</label>
               <select id="skill" name="skill">
                  <option value=" ">----Select----</option>
                  <option th:each="skill : ${allSkills}" th:text="${skill.level}"
     th:value="${skill.id}">skill level
                  </option>
               </select>
               <br><br>
               <input type="submit" value="Send">
            </form>
            <br>
            <div class="band-finder-table">
               <table class="table">
                  <thead class="thead-dark">
                     <tr>
                        <th scope="col">Band Name</th>
                        <th scope="col">City</th>
                        <th scope="col">Role</th>
                        <th scope="col">Style</th>
                        <th scope="col">Skill</th>
			<th scope="col"></th>
			<th scope="col"></th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr th:each="band : ${bands}">
                        <td th:text="${band.bandName}">Band Name</td>
                        <td th:text="${band.city}">City</td>
                        <td th:text="${band.role.roleName}">Role Name</td>
                        <td th:text="${band.style.styleName}">style Name</td>
                        <td th:text="${band.skill.level}">Level</td>
			<td><a th:href="@{/band(id=${band.id})}">Edit</a></td>
                        <td><a th:href="@{/band/delete(id=${band.id})}">Remove</a></td>
                     </tr>
                  </tbody>
               </table>
   </div>
  </div>
 </div>
</body>
</html>
