<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Navbar-Fragment</title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
    <div th:fragment="nav">
<div>
<nav id="navigation" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="basicExampleNav">
           <ul class="navbar-nav mr-auto" data-toggle="collapse" data-target=".navbar-collapse">
            <li class="nav-item"><a class="nav-link" href="https://localhost:8443/#top">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="https://localhost:8443/#ContactUsForm"> Contact Us</a></li>
              <li class="nav-item"><a class="nav-link" href="https://localhost:8443/#AboutUs">About Us</a></li>
           </ul>
    </div>
 </nav>
</div>
</body>
</html>