<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<head>
   <title>Navbar-Fragment</title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
    <div th:fragment="nav">
<div>
<nav id="navigation" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">

    <a href="https://localhost:8443/#" class="navbar-brand"><img class="LogoImg" src="pictures/Team/logo_transparent.png" width="235" alt=""></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="basicExampleNav">
        
           <ul class="navbar-nav ml-auto navbar-dark bg-dark" data-toggle="collapse" data-target=".navbar-collapse">
            <li class="nav-item"><a class="nav-link" href="https://localhost:8443/#">Home</a></li>
 			      <li class="nav-item"><a class="nav-link" href="https://localhost:8443/bands">Suche</a></li>
            <li class="nav-item"><a class="nav-link" href="https://localhost:8443/#ContactUsForm"> Contact Us</a></li>
            <li class="nav-item"><a class="nav-link" href="https://localhost:8443/#AboutUs">About Us</a></li>
		 	      <li class="nav-item"><a class="nav-link" href="https://localhost:8443/admin">Admin</a></li>
 		        <li class="nav-item"><a class="nav-link" href="#" th:href="@{/login}" sec:authorize="!isAuthenticated()">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()"><span sec:authentication="name"></span> (logout)</a></li>
          </ul>
 </div>
 </nav>
</body>
</html>

