<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Find your Band!</title>
      <title th:replace="fragments/header-css :: top"></title>
   </head>
   <body>
   <div class="container">
<!--Navigation-->
   <div th:replace="fragments/navbar :: nav"></div>
<!--Großes Bild plus Einleitungstext-->   
   <div th:replace="fragments/mitte-pic :: mitte"></div>   
   </div>
<!-- Contact Us Form - Message Us-->
   <div id="ContactUsForm">
   <div class="mb-4">&nbsp;</div>
   <div class="row d-flex justify-content-center">
      <div class="col-md-12 mb-4">
         <div class="card">
            <h4 class="card-header bg-dark info-color white-text text-center py-4"><strong>Whats on your mind?</strong></h4>
            <br>
            <div class="container contact-form">
            <div class="contact-image">
            <img src="pictures/Team/message.png" alt="Image of message being sent" />
            </div>
         <form th:action="@{/mails}" method="post">
            <div class="row">
            <div class="col-md-6">
            <div class="form-group">
            <input type="text" name="name" required class="form-control" placeholder="Your Name *" value="" />
            </div>
            <div class="form-group">
            <input type="text" name="adress" required class="form-control" placeholder="Your Email *" value="" />
            </div>
            <div class="form-group">
            <input type="text" name="phone" class="form-control" placeholder="Your Phone Number *" value="" />
            </div>
            <div class="form-group">
            <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" />
            </div>
            </div>
            <div class="col-md-6">
            <div class="form-group">
            <textarea name="message" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
            </div>
         </div>
         </div>
         </form>
            </div>
            </div>
<!-- About Us-->
	<div th:replace="fragments/about :: about"></div>   
<!--Footer -->
    <div th:replace="fragments/footer :: bottom"></div>
      
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <!-- jQuery (wird für Bootstrap JavaScript-Plugins benötigt) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- Binde alle kompilierten Plugins zusammen ein (wie hier unten) oder such dir einzelne Dateien nach Bedarf aus -->
   </body>
</html>
