<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Find your Band!</title>
      <title th:replace="fragments/header-css :: top"></title>
   </head>
   <body>
   <div class="container">
<!--Navigation-->
   <div th:replace="fragments/navbar :: nav"></div>
<!--Großes Bild plus Einleitungstext-->   
   <div th:replace="fragments/mitte-pic :: mitte"></div>   
   </div>
<!-- Contact Us Form - Message Us-->
 <div th:replace="fragments/contact-form :: contact"></div>
<!-- About Us-->
	<div th:replace="fragments/about :: about"></div>   
<!--Footer -->
    <div th:replace="fragments/footer :: bottom"></div>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <!-- jQuery (wird für Bootstrap JavaScript-Plugins benötigt) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- Binde alle kompilierten Plugins zusammen ein (wie hier unten) oder such dir einzelne Dateien nach Bedarf aus -->
   </body>
</html>
