<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Your search results</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Result</h1>
	<div class="band-finder-table">
            <table class="table">
               <thead class="thead-dark">
                  <tr>
                     <th scope="col">Band Name</th>
                     <th scope="col">City</th>
                     <th scope="col">Role</th>
                     <th scope="col">Style</th>
                     <th scope="col">Skill</th>
                  </tr>
               </thead>
               <tbody>
                     <tr th:each="band : ${bands}">
                     <td th:text="${band.bandName}">Band Name</td>
                     <td th:text="${band.city}">City</td>
                     <td th:text="${band.role.roleName}">Role Name</td>
                     <td th:text="${band.style.styleName}">style Name</td>
                     <td th:text="${band.skill.level}">Level</td>
                  </tr>
               </tbody>
            </table>
         </div>

    <a href="/bands">Overview of all bands</a>
</body>
</html>
