<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>whereIsMyBand</title>
    <meta name="author" content="Denis Kutlovci, Malte Knezevic, Berdhold Voitl, Axel Schwarz">
    <meta name="decription" content="Easy and best way to find a band period!">
    <link rel="stylesheet" href="stylesheet.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <nav>
        <h1>Where is my Band</h1>
        <ul>
            <li><a href="nav1"></a></li>
            <li><a href="nav2"></a></li>
            <li><a href="nav3"></a></li>
            <li><a href="nav4"></a></li>
            <li><a href="nav5"></a></li>
        </ul>
    </nav>
</header>

<main>

</main>

<footer>
    <p>
        <a href="footerLink1">footer1</a>
        <a href="footerLink2">footer2</a>
        <a href="footerLink3">footer3</a>
        <a href="footerLink4">footer4</a>
        <a href="footerLink5">footer5</a>
    </p>
</footer>
</body>
</html>